

<div class="container" style="margin-top: 40px;">
  <div class="row justify-content-center">

    <div class="col-md-9">
       <h3><span class="bg-light p-2"><%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細</span></h3>

         <div class="form-group row">
          <div class="col-md-4">
            <%= label_tag :id, "会員ID" %>
          </div>
          <div class="col-md-8">
            <%= @customer.id %>
          </div>
        </div>


        <div class="form-group row">
          <div class="col-md-4">
            <%= label_tag :last_name, "氏名" %>
          </div>
          <div class="col-md-2">
            <%= @customer.last_name %>
          </div>
          <div class="col-md-2">
            <%= @customer.first_name %>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-4">
            <%= label_tag :last_name_kana, "フリガナ" %>
          </div>
          <div class="col-md-2">
            <%= @customer.last_name_kana %>
          </div>
          <div class="col-md-2">
            <%= @customer.first_name_kana %>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-4">
            <%= label_tag :postcode, "郵便番号" %>
          </div>
          <div class="col-md-8">
            <%= @customer.postcode %>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-4">
            <%= label_tag :address, "住所" %>
          </div>
          <div class="col-md-8">
            <%= @customer.address %>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-4">
            <%= label_tag :telephon_number, "電話番号" %>
          </div>
          <div class="col-md-8">
            <%= @customer.telephon_number %>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-4">
            <%= label_tag :email, "メールアドレス" %>
          </div>
          <div class="col-md-8">
            <%= @customer.email %>
          </div>
        </div>

         <div class="form-group row">
          <div class="col-md-4">
            <%= label_tag :is_cancel_membership, "会員ステータス" %>
          </div>
          <div class="col-md-8" style="color: <%= @customer.is_cancel_membership ? 'gray' : 'green' %>;">
            <%= @customer.is_cancel_membership ? "退会" : "有効" %>
          </div>
        </div>




        <div class="form-group row">
          <div class="col-md-2 text-right">
            <%= link_to "編集する", edit_admin_customer_path(@customer), class: "btn btn-success" %>
          </div>

           <div class="col-md-5 text-right">
　　　　　　<%= link_to '注文履歴一覧を見る', admin_admin_path, class: "btn btn-primary" %>
          </div>
      　</div>

       </div>
     </div>
   </div>

