<div class="container">
  <div class="low">
    <div class="col">
      <div class="d-flex justify-content-between pt-5 pb-4">
        <h3 class="bg-light">ショッピングカート</h3>
        <%= link_to 'カートを空にする', public_cart_items_destroy_all_path, method: :delete, class:"btn btn-danger" %>
      </div>
    </div>
    <div class="col">
      <table class="table table-bordered border-primary">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
            <th colspan="1"></th>

          </tr>
        </thead>
        <tbody>

          <% @cart_items.each do |cart_item| %>
          <% @total = @total+ cart_item.subtotal %>
            <tr>
              <td><%= cart_item.item.name %></td>
              <td><%= cart_item.item.price %></td>
              <td>
                <%= form_with(model: [:public, cart_item], url: public_cart_item_path(cart_item), method: :put, class: "cart-item-form") do |f| %>
                  <div class="d-flex justify-content-between align-items-center">
                    <%= f.select :quantity, options_for_select((1..5).map { |n| [n, n] }, cart_item.quantity), class: "form-control cart-item-quantity-select" %>
                    <%= f.submit "変更", class: "btn btn-success btn-sm cart-item-quantity-submit" %>
                  </div>
                <% end %>
              </td>
              <td><%= cart_item.subtotal %></td>
              <td><%= link_to '削除する', public_cart_item_path(cart_item), method: :delete, class:"btn btn-danger" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>


    <div class="d-flex justify-content-between">
      <%= link_to '買い物を続ける',  "/", class: "btn btn-primary" %>
        <div class="border p-2 bg-muted">
          <span class="border-right pr-5">合計金額</span>
          <span class="pr-5"><%= @total %></span>
        </div>

    </div>
    <div class="text-center p-4"><%= link_to '注文入力に進む', new_public_order_path, class: "btn btn-success" %></div>
  </div>
</div>

