<div class="container">
  <div class="low">
    <div class="col">
      <h3>注文情報確認</h3>
      <div class="d-flex">
        <div class="table-responsive  mr-5">
          <table class="table table-bordered">
            <thead class="thead-light">
              <tr>
                <th style="width: 40%;">商品名</th>
                <th style="width: 20%;">単価(税込み)</th>
                <th style="width: 20%;">数量</th>
                <th style="width: 20%;">小計</th>
              </tr>
            </thead>
             <tbody>
              <% @cart_items.each do |cart_item| %>
              <tr>
                <td><%= cart_item.item.name %></td>
                <td><%= cart_item.item.price %></td>
                <td><%= cart_item.quantity %></td>
                <td><%= cart_item.subtotal %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <table class="table table-bordered" style="width: 30%;">
          <tbody>
            <tr>
              <td class="table-light">送料</td>
              <td>800</td>
            </tr>
            <tr>
              <td class="table-light">商品合計</td>
              <td></td>
            </tr>
            <tr>
              <td class="table-light">請求金額</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <p>支払い方法</p>
    <%= form_with model: @order, url: public_orders_path, method: :post do |f| %>
    <% if @order.payment_method == "credit_card" %>
      クレジットカード
    <% else %>
      銀行振込
    <% end %>

    <p>お届け先</p>
    <%= @order.postcode + " " + @order.address + " " + @order.name %>
    <%= f.hidden_field :postcode %>
    <%= f.hidden_field :address %>
    <%= f.hidden_field :payment_method %>
    <%= f.hidden_field :name %>
    <%= f.submit "注文を確定する", class: "btn btn-success" %>
    <% end %>
  </div>
</div>